<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "edit" %}
{% block content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Your nickname:</td>
            <td>{{form.nickname(size = 24)}}</td>
        </tr>
        {% for error in form.errors.nickname %}
        <tr>
            <td colspan="2"><span style="color: red;">[{{error}}]</span></td>
            </tr>
        {% endfor %}
        </tr>
        <tr>
            <td>About yourself:</td>
            <td>{{form.about_me(cols = 32, rows = 4)}}</td>
        </tr>
        {% for error in form.errors.about_me %}
        <tr>
            <td colspan="2"><span style="color: red;">[{{error}}]</span></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}
